<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <script
            src="https://code.jquery.com/jquery-3.4.0.min.js"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
            crossorigin="anonymous"></script>
    <title>Hello, world!</title>
</head>
<body>

<div class="container">
    <div class="row mx-auto" style="margin-top: 30px;">
        <div class="col-md-12">
            <h2>ScoreKeeper</h2>
            <hr>
        </div>

        <table style="margin-top: 50px; margin-bottom: 50px" class="table table-striped">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" id="player1"></th>
                <th scope="col" id="player2"></th>
                <th scope="col" id="player3"></th>
                <th scope="col" id="player4"></th>
            </tr>

            <tr style="color: white" class="theme-color">
                <th scope="col">Sum of score (0)</th>
                <th scope="col" id="player1Sum"></th>
                <th scope="col" id="player2Sum"></th>
                <th scope="col" id="player3Sum"></th>
                <th scope="col" id="player4Sum"></th>
            </tr>
            </thead>
            <tbody id="scoreboard">

            </tbody>
        </table>

        <div class="col-md-12 text-center">
            <hr size="30">
            <button class="btn-lg theme-color mx-auto" id="add-round" style="color: white;">ADD ROUND</button>
        </div>

    </div>


</div>


</div>


<!-- Optional JavaScript -->
<script src="/main.js"></script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>